/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* * * * * * * * * * * * * * * * * * * * * */
/*                LOGIN PAGE               */
/* * * * * * * * * * * * * * * * * * * * * */

body.login {
	background: white;
}

#login {
	width: 100% !important;
	max-width: 380px !important;
	padding: 20vh 20px 0;
	position: relative;
	margin: auto !important;
}

	#login h1 a {
		background: none;
		text-indent: 0;
		font-size: unset;
		line-height: normal;
		width: auto;
		color:#72777c;
		height: auto;
	}

	#login .message,
	#login #login_error {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #f5f5f5;
		box-shadow: none;
		text-align: center;
	}

	#login #login_error {
		border: 0;
		background: #ff623a;
		color: white;
	}

	#login #login_error a {
		color: white;
	}

	#login form .forgetmenot {
		margin-bottom: 20px;
	}

.login form {
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	border: 0;
}

	.login form .input, .login form input[type=checkbox], .login input[type=text], .login input[type=checkbox] {
		background: #f5f5f5;
		padding: 10px;
		box-shadow: none;
		border: 0;
	}

	.login form input[type=checkbox] {
		border: 1px solid #ddd;
	}

	.login form .forgetmenot, .login form .submit {
		float: none;
	}

	.login form .button-primary {
		width: 100%;
	}

.login .admin-email__actions .button-primary {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.login .admin-email__actions-primary .button.button-large {
	margin-bottom: 8px;
	width: 100%;
	text-align: center;
}

.wp-core-ui .button-primary {
	border: 0;
	box-shadow: none;
	text-shadow: none;
}

.login.wp-core-ui .button.button-large {
	padding: 15px;
	height: auto;
	line-height: auto;
	background: #3858e9;
	color: white;
}

.login.wp-core-ui .button.button-large:hover {
	background: #2145e6;
}

.login #nav, .login #backtoblog {
	padding: 0;
}

.interim-login.login form {
	margin: 0 auto;
	width: calc(100% - 40px);
}

.interim-login.login #login .message,
.interim-login.login #login #login_error {
	width: auto;
}
