/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* * * * * * * * * * * * * * * * * * * * * */
/*              PLUGIN INSTALL             */
/* * * * * * * * * * * * * * * * * * * * * */

.plugin-install-php h1 {
	font-weight: 600;
}

.plugin-install-php h2 {
	clear: initial;
	margin: 2.5em 0 8px;
	border-bottom: 1px solid #dddddd;
}